%p Mail sent from DexluxeTraduction.com contact page

%p Name #{@info[:name]}
%P Company: #{@info[:company]}
%p Email: #{@info[:email]}
%p Address: #{@info[:address]}
%p Comments: #{@info[:comments]}
