
%p Application from Translator 


%p Pays : #{@info[:country]}
%p Nom    : #{@info[:lastname]}
%p Prénom: #{@info[:firstname]}
%p Civilité: #{@info[:civility]}
%p Date de naissanc: #{@info[:birthdate]}
%p Email: #{@info[:email]}
%p Téléphone: #{@info[:telephone]}
%p Mobile: #{@info[:mobile]}
%p Fax  : #{@info[:fax]}
%p Adresse: #{@info[:address]}
%p Ville : #{@info[:city]}
%p Code Postal: #{@info[:zip]}
%p Siret: #{@info[:siret]}
%p Ursaf   : #{@info[:ursaf]}
%p N° TVA Intra-communataire: #{@info[:tva]}
%p Statut Légal: #{@info[:status]}
%p Assermenté: #{@info[:certified]}
%p Début d'activité: #{@info[:start]}
%p Langue maternelle: #{@info[:native]}
%p Deuxième langue   : #{@info[:secondary]}
%p Tarif traduction: #{@info[:rate_trans]} euros/mot
%p Tarif interprétariat: #{@info[:rate_inter]} euros/mot
%p Spécialité: #{@info[:specialties]}
%p Commentaires: #{@info[:comments]}
