#contact
  = image_tag "contact.png"
#contact_form
  %span Contact Us
  .hr.contact
  = form_tag contact_email_path, :multipart => true, :id => 'form' do
    %input(type="hidden" name="captcha_gateway" value="1")
    %table
      %tr
        %td= label_tag 'contact_company', 'Company Name:' 
        %td= text_field_tag 'contact[company]',nil, :size => 29
      %tr
        %td= label_tag 'contact_name', 'Contact name:'
        %td= text_field_tag 'contact[name]',nil, :size => 29, :maxlength => 50
      %tr
        %td= label_tag 'contact_email', 'Email Address:'
        %td= text_field_tag 'contact[email]',nil, :size => 29, :maxlength => 100
      %tr
        %td= label_tag 'contact_file', 'Document to translate'
        %td= file_field_tag 'contact[file]', :size => 15
      %tr
        %td= label_tag 'contact_address', 'Postal address for quotation' 
        %td= text_field_tag 'contact[address]',nil, :size => 29
      %tr
        %td
          = label_tag 'contact_comments', 'Comments'
          %br (Specify the desired turnaround time, target languages, and format):
        %td= text_area_tag 'contact[comments]',nil, :rows => 5, :cols => 22
      %tr
        %td
        %td= submit_tag 'Envoyer'
      %tr
        %td
    #spinner 

  :javascript
      $('#form').submit(function(){
        $('#spinner').html('Uploading your document...  <br><img src="http://deluxetraduction-staging.heroku.com/images/spinning-wait.gif" />');
        $('input[type=submit]', this).attr('disabled', 'disabled');
      })
    
  %p To request a quotation or any additional information, please contact us using the form above. 
  %p.strong Don't forget to attach the document to be translated. 
  %p The maximum file size is 10 MB, preferably in Word format for a more rapid response .
  %p.strong For interpretation services, please indicate the necessary dates, places, hours, and type of service.

#address
  %span Offices
  .hr.address
  #street
    %p.title Deluxe Traduction
    %p.address 75015 Paris
  =image_tag 'mail.png'
  #phone
    %p.address Tél. :   (+33) 9 70 20 08 30
    %p.address Mob. : (+33) 6 65 13 09 63
    %p.address Fax :   (+33) 1 72 70 32 86
  #online
    %p.email #{mail_to 'contact@deluxetraduction.com', nil, :encoding => 'javascript'}
    %p.link #{link_to 'www.deluxetraduction.com/en', index_url}
