#contact
  = image_tag "contact.png"
#contact_form
  %span Contactez-nous
  .hr.contact
  = form_tag contact_email_path, :multipart => true, :id => 'form' do
    %input(type="hidden" name="captcha_gateway" value="1")
    %table
      %tr
        %td= label_tag 'contact_company', 'Nom de la société' 
        %td= text_field_tag 'contact[company]',nil, :size => 29
      %tr
        %td= label_tag 'contact_name', 'Nom du contact'
        %td= text_field_tag 'contact[name]',nil, :size => 29, :maxlength => 50
      %tr
        %td= label_tag 'contact_email', 'Adresse e-mail :'
        %td= text_field_tag 'contact[email]',nil, :size => 29, :maxlength => 100
      %tr
        %td= label_tag 'contact_file', 'Document à joindre pour devis'
        %td= file_field_tag 'contact[file]', :size => 15
      %tr
        %td= label_tag 'contact_address', 'Address postale pour devis nominatif' 
        %td= text_field_tag 'contact[address]',nil, :size => 29
      %tr
        %td
          = label_tag 'contact_comments', 'Commentaires'
          %br (Précisez délai, langue(s), format):
        %td= text_area_tag 'contact[comments]',nil, :rows => 5, :cols => 22
      %tr
        %td
        %td= submit_tag 'Envoyer'
      %tr
        %td
    #spinner 

  :javascript
      $('#form').submit(function(){
        $('#spinner').html('Chargement de votre document...  <br><img src="http://deluxetraduction-staging.heroku.com/images/spinning-wait.gif" />');
        $('input[type=submit]', this).attr('disabled', 'disabled');
      })
    
  %p Pour toute demande de devis ou d’information merci de nous contacter en utilisant le formulaire ci-dessus.
  %p.strong N'oubliez pas de joindre le document à traduire. 
  %p La taille du fichier doit être inférieure à 10Mo, de préférence sous format word  pour une estimation plus rapide .
  %p.strong Pour l’interprétariat n’oubliez pas d’indiquer les dates, lieux, horaires, type de prestation,

#address
  %span Siège
  .hr.address
  #street
    %p.title Deluxe Traduction
    %p.address 5 Villa de l’Astrolabe
    %p.address 75015 Paris
  =image_tag 'mail.png'
  #phone
    %p.address Tél. :   (+33) 9 70 20 08 30
    %p.address Mob. : (+33) 6 65 13 09 63
    %p.address Fax :   (+33) 1 72 70 32 86
  #online
    %p.email #{mail_to 'contact@deluxetraduction.com', nil, :encoding => 'javascript'}
    %p.link #{link_to 'www.deluxetraduction.com/fr', index_url}
