!!! 
%html(lang='fr')
  %head
    %meta(charset='utf-8')

    %title Deluxe Traduction

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = stylesheet_link_tag "screen", :media => "screen, projection"
    = stylesheet_link_tag "print", :media => "print"

    <!--[if IE]><link href="stylesheets/ie.css" rel="stylesheet" /><![endif]-->
    <!-- HTML5 Shiv http://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]> 
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js">IE7_PNG_SUFFIX=".png";</script>
    <![endif]-->

    = favicon_link_tag

  %body
    #container
      %header
        #logo
          #white_star
          #logo_image
          #traduction TRADUCTION
        #subheader
          #phrase
          #ribbon
          #french= link_to image_tag('fr.png'), url_for(:lang => 'fr')
          #english= link_to image_tag('en.png'), url_for(:lang => 'en')
          #bar

      %hr
      %nav
        %ul
          %li= link_to "Accueil", index_path
          %li= link_to "Notre savoir-faire", savoir_path
          %li= link_to "Langues et spécialités", langues_path
          %li= link_to "Services Annexes", services_path
          %li= link_to "Contact", contact_path
          %li= link_to "Actualités", news_path
      #main
        = yield
      %footer
        #footer-links
          %ul
            %li<
              = link_to "Mentions légales", mentions_path
              <span> | </span>
            %li<
              = link_to "contactez-nous", contact_path
              <span> | </span>
            %li<
              = link_to "créé par tanea services", 'http://www.taneaservices.fr/'
        #keywords
          %p Traduction courante technique scientifique Anglais, Italien, Espagnol, Portugais, Allemand, Néerlandais,Russe, Japonais, Chinois, Arabe, Suédois, Norvégien, Finnois, Islandais, Tchèque, Hongrois, Polonais, Roumain, Hébreu, Thaï...





