!!! 
%html(lang='en')
  %head
    %meta(charset='utf-8')

    %title Deluxe Traduction

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = stylesheet_link_tag "screen", :media => "screen, projection"
    = stylesheet_link_tag "print", :media => "print"

    <!--[if IE]><link href="stylesheets/ie.css" rel="stylesheet" /><![endif]-->
    <!-- HTML5 Shiv http://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    = favicon_link_tag

  %body
    #container
      %header
        #wlogo
          %h1 Deluxe Traduction Translation Agency
      %hr
      %nav
        %ul
          %li<
            = link_to "Welcome", root_path
          %li<
            = link_to "Our Expertise", savoir_path
          %li<
            = link_to "Languages and Specialties", langues_path
          %li<
            = link_to "Additional Services", services_path
          %li<
            = link_to "Contact Us", contact_path
          %li<
            = link_to "News", news_path
      #main
        = yield
      %footer
        #footer-links
          %ul
            %li<
              = link_to "Legal Notice", mentions_path
              %span |
            %li<
              = link_to "contact us", contact_path
              %span \|
            %li<
              = link_to "Created by tanea services", 'http://www.taneaservices.fr/'
        #keywords
          %p Formal, informal, technical, and scientific translations in English, Italian, Spanish, Portuguese, German, Dutch, Russian, Japanese, Chinese, Arabic, Swedish, Norwegian, Finnish, Icelandic, Czech, Hungarian, Polish, Romanian, Hebrew, Thai, and more...
